{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>

```
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>{% block title %}AI Job Portal{% endblock %}</title>

<link rel="stylesheet" href="{% static 'css/style.css' %}">
```

</head>

<body>

<nav>

```
<div class="logo">
    AI Job Portal
</div>

<div class="nav-links">

    <a href="/">Home</a>

    <a href="/jobs/">Jobs</a>

    {% if request.session.email %}

        <a href="/dashboard/">Dashboard</a>

        <a href="/my-applications/">My Applications</a>

        <a href="/recommendation/">AI Recommendation</a>

    {% endif %}

    <a href="/about/">About</a>

    <a href="/contact/">Contact</a>

</div>

<div class="auth-buttons">

    {% if request.session.email %}

        <a href="/logout/">Logout</a>

    {% else %}

        <a href="/login/">Login</a>

        <a href="/register/">Register</a>

    {% endif %}

</div>
```

</nav>

{% block content %}
{% endblock %}

<footer>

```
<h3>AI Job Portal</h3>

<p>Empowering Careers with Artificial Intelligence.</p>

<p>© 2026 AI Job Portal. All Rights Reserved.</p>
```

</footer>

</body>
</html>
